body {
  margin: 0;
  background-color: #121212;
  padding-top: 90px; /* Adjusted to prevent overlap */
  font-family: sans-serif;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1000;
  background-color: transparent;
  box-shadow: none;
}

.nav-left-bg, .nav-right-bg {
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(6px);
  padding: 5px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px rgba(255, 61, 61, 0.4);
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  background: red;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 61, 61, 0.5);
}

.nav-links a:hover {
  background: black;
  box-shadow: 0 0 15px rgba(255, 61, 61, 0.8);
  transform: scale(1.1);
}

.nav-links a i {
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 5px rgba(255, 61, 61, 0.8);
  transition: transform 0.3s ease;
}

.nav-links a:hover i {
  transform: scale(1.3);
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 8px;
  font-size: 1em;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #FA1228;
}

html, body {
  margin: 0;
  height: 100%;
  padding-bottom: 250px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.4);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

.footer-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff3d3d;
}

.footer.hidden {
  display: none;
}

#toggleFooter {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#toggleFooter:hover {
  color: #ff3d3d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-verify img {
  height: 30px;
  width: 30px;
  margin: 3px;
}
